<div id="top-img" class="parallax-container ">
	<h1 class="parallax-heading center-align "><span>Kellogg</span> Web Studio</h1>
	<h3 class="parallax-sub-heading center-align">Web Development that's Out of this World</h3>
</div>

<div class="row left-align">
	<div class="header-background">
		<blockquote>
			<h1 id="projects" class="">Websites</h1>
		</blockquote>
	</div>
</div>

<div class="row">
	<div class="col l12 panel z-depth-2">
		 <p class="flow-text">The following sites demonstrate my experience in Ruby, JavaScript, API's, testing and front-end design.</p>
	</div>
</div>

<!-- PROJECTS -->
<div class="row project-1">
	<div id="card-1" class="col l6">
	  <div class="card medium hoverable">
	    <div class="card-image waves-effect waves-block waves-light">
	      <img class="activator" src="img/bandshare.png">
	    </div>
	    <div class="card-content">
	      <span class="card-title activator grey-text text-darken-4">BandShare<i class="material-icons right">call_made</i></span><br>
	      <a href="https://github.com/timkellogg/bandshare" class="waves-effect align-right left-btn waves-light btn">Github Link</a>
	    </div>
	    <div class="card-reveal ">
	      <span class="card-title grey-text text-darken-4">BandShare<i class="material-icons right">close</i></span>
	      <p>A site that allows the public to create bands, lists venues and book concerts. It allows users to customize their band's homepage with a main background image. It is written in Ruby for the Sinatra web framework and uses Foundation/jQuery for the front-end and Postgresql/ActiveRecord for database management.</p>
	    </div>
	  </div>
 </div>
 	<div class="col l6 project-2">
	  <div id="card-2" class="card medium hoverable">
	    <div class="card-image waves-effect waves-block waves-light">
	      <img class="activator" src="img/cre.png">
	    </div>
	    <div class="card-content">
	      <span class="card-title activator grey-text text-darken-4">CongressionalResearchEngine<i class="material-icons right">call_made</i></span><br>
	      <a href="https://github.com/timkellogg/cre" class="waves-effect align-right left-btn waves-light btn">Github Link</a>
	      <a href="https://polifact.herokuapp.com/" class="waves-effect align-right right-btn waves-light btn">Live!</a>
	    </div>
	    <div class="card-reveal">
	      <span class="card-title grey-text text-darken-4">CRE/Polifact<i class="material-icons right">close</i></span>
	      <p>CRE is a web app that allows users to search full-text congressional records, research upcoming and past bills, view finance information based upon elections, superpac support among others, and supports in-result searching.  CRE was built without the overhead of a larger framework and runs according to Pingdom, faster than 90% of websites.  It pulls information from the Sunlight foundation API as well as from Huffington Post API.  It provides a unique user experience because results will dynamically generate charts, graphs and tables for visual aid.</p>
	    </div>
	  </div>
 </div>
</div>

<div class="row">
	<div class="col l6 project-3">
	  <div id="card-3" class="card medium hoverable">
	    <div class="card-image waves-effect waves-block waves-light">
	      <img class="activator" src="img/weathergetter.png">
	    </div>
	    <div class="card-content">
	      <span class="card-title activator grey-text text-darken-4">WeatherGetter<i class="material-icons right">call_made</i></span><br>
	      <a href="https://github.com/timkellogg/weathergetter" class="waves-effect align-right left-btn waves-light btn">Github Link</a>
	    </div>
	    <div class="card-reveal ">
	      <span class="card-title grey-text text-darken-4">WeatherGetter<i class="material-icons right">close</i></span>
	      <p>WeatherGetter is a JavaScript app that will tell what the weather is wherever the user is.  It uses the IP address of the user to look up the longitude and latitude of a user and then finds the weather based upon those coordinates. It does this unobtrusively and doesn't need to ask the user for their location.</p>
	    </div>
	  </div>
 </div>
 	<div class="col l6 project-4">
	  <div id="card-4" class="card medium hoverable">
	    <div class="card-image waves-effect waves-block waves-light">
	      <img class="activator" src="img/countword.png">
	    </div>
	    <div class="card-content">
	      <span class="card-title activator grey-text text-darken-4">CountWord<i class="material-icons right">call_made</i></span><br>
	      <a href="https://github.com/timkellogg/cre" class="waves-effect align-right left-btn waves-light btn">Github Link</a>
	      <a href="https://intense-bayou-7483.herokuapp.com/" class="waves-effect align-right right-btn waves-light btn">Live!</a>
	    </div>
	    <div class="card-reveal">
	      <span class="card-title grey-text text-darken-4">CountWord<i class="material-icons right">close</i></span>
	      <p>CountWord is the smart text analyzer. It takes input in from a form and parses that to deliver the word the user was looking for as well as a breakdown of all the words used and their frequency based on the length of the text. Finally, it uses JavaScript to dynamically return the block of text highlighting the places where the word was found.</p>
	    </div>
	  </div>
 </div>
</div>

<div class="row">
	<div id="card-5" class="col l6 project-5">
	  <div id="card-5" class="card medium hoverable">
	    <div class="card-image waves-effect waves-block waves-light">
	      <img class="activator" src="img/hermosa.png">
	    </div>
	    <div class="card-content">
	      <span class="card-title activator grey-text text-darken-4">HermosaSurf<i class="material-icons right">call_made</i></span><br>
	      <a href="https://hermosa-surf.herokuapp.com/" class="waves-effect align-right right-btn waves-light btn">Live!</a>
	    </div>
	    <div class="card-reveal ">
	      <span class="card-title grey-text text-darken-4">HermosaSurf<i class="material-icons right">close</i></span>
	      <p>HermosaSurf is a concept design that I made for a residential community in Hermosa Beach, California. It was designed to give the community a common place to hear about news and follow housing meetings. I used a unique layout style that I thought would improve navigation and readability.  I also wired up Google Maps to display the current location so visitors could easily find it. Finally, I added a link to Twitter's API so that the president could make announcements and then people would easily be able to follow them without having a Twitter account.</p>
	    </div>
	  </div>
 </div>
 	<div id="card-6" class="col l6 project-6">
	  <div id="card-6" class="card medium hoverable">
	    <div class="card-image waves-effect waves-block waves-light">
	      <img class="activator" src="img/recipe_box.png">
	    </div>
	    <div class="card-content">
	      <span class="card-title activator grey-text text-darken-4">Bite-SizedRecipes<i class="material-icons right">call_made</i></span><br>
	      <a href="https://github.com/timkellogg/recipe_box" class="waves-effect align-right left-btn waves-light btn">Github Link</a>
	 
	    </div>
	    <div class="card-reveal">
	      <span class="card-title grey-text text-darken-4">Bite-SizedRecipes<i class="material-icons right">close</i></span>
	      <p>Bite-SizedRecipes is a site that allows users to add, update and delete recipes as well as ingredients and categories. It makes use of the Foundation framework and has seperate portals for users and the regular public. Although there's not an authentication system in place, there's a front page that only displays recipes that have been marked as published. It also makes use of a jQuery Orbit slider to display different images and rotate them automatically.</p>
	    </div>
	  </div>
 </div>
</div>

<div class="row">
	<div id="card-7" class="col l6 project-7">
	  <div id="card-7" class="card medium hoverable">
	    <div class="card-image waves-effect waves-block waves-light">
	      <img class="activator" src="img/ruraldictionary.png">
	    </div>
	    <div class="card-content">
	      <span class="card-title activator grey-text text-darken-4">RuralDictionary<i class="material-icons right">call_made</i></span><br>
	       <a href="https://github.com/timkellogg/cre" class="waves-effect align-right left-btn waves-light btn">Github Link</a>
	      <a href="https://mysterious-mesa-5410.herokuapp.com/" class="waves-effect align-right right-btn waves-light btn">Live!</a>
	    </div>
	    <div class="card-reveal ">
	      <span class="card-title grey-text text-darken-4">RuralDictionary<i class="material-icons right">close</i></span>
	      <p>This project was a coding challenge for Epicodus. I had to design and build a dictionary application that kept track of words and the different definitions associated with them. However, I wasn't supposed to use a database for storage. Therefore, I built this dictionary that stores words in memory if you navigate to the route "/populate_my_dictionary". </p>
	    </div>
	  </div>
 </div>
 	<div id="card-8" class="col l6 project-8">
	  <div id="card-8" class="card medium hoverable">
	    <div class="card-image waves-effect waves-block waves-light">
	      <img class="activator" src="img/recipe_box.png">
	    </div>
	    <div class="card-content">
	      <span class="card-title activator grey-text text-darken-4">Bite-SizedRecipes<i class="material-icons right">call_made</i></span><br>
	      <a href="https://github.com/timkellogg/recipe_box" class="waves-effect align-right left-btn waves-light btn">Github Link</a>
	 
	    </div>
	    <div class="card-reveal">
	      <span class="card-title grey-text text-darken-4">Bite-SizedRecipes<i class="material-icons right">close</i></span>
	      <p>Bite-SizedRecipes is a site that allows users to add, update and delete recipes as well as ingredients and categories. It makes use of the Foundation framework and has seperate portals for users and the regular public. Although there's not an authentication system in place, there's a front page that only displays recipes that have been marked as published. It also makes use of a jQuery Orbit slider to display different images and rotate them automatically.</p>
	    </div>
	  </div>
 </div>
</div>


<!-- SCRIPTS -->
<div class="row left-align">
	<div class="header-background">
		<blockquote>
			<h1 id="scripts" class="">Scripts</h1>
		</blockquote>
	</div>
</div>

<div class="row">
	<div class="col l12 panel z-depth-2">
		 <p class="flow-text">In addition to website building, I really love writing small programs to automate tasks such as job searching, Facebook updating and scheduling. And yes, the occasional game.</p>
	</div>
</div>

<div class="row">
  <div class="col s12 m6">
    <div class="card blue darken-1 hoverable">
      <div class="card-content white-text">
        <span class="card-title">GoGoSinatra</span>
        <p>I wrote this script to generate boilerplate code for a Sinatra App. Not as sophisticated as the Rails generators but it makes life for Sinatra developers a tad easier.</p>
      </div>
      <div class="card-action">
        <a href="https://github.com/timkellogg/go_go_sinatra">Check it out!</a>
      </div>
    </div>
  </div>
    <div class="col s12 m6">
    <div class="card blue darken-1 hoverable">
      <div class="card-content white-text">
        <span class="card-title">Calbot</span>
        <p>I wrote this web crawler to retrieve information about tech events in Portland scanning the Calagator site. It prints out the calender and follows the links so you can see the full text of the listing instead of just titles.</p>
      </div>
      <div class="card-action">
        <a href="https://github.com/timkellogg/calbot">Check it out!</a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s12 m6">
    <div class="card blue darken-1 hoverable">
      <div class="card-content white-text">
        <span class="card-title">CheckVersion</span>
        <p>This script checks the versions of major programs that we used at Epicodus. I found it useful to see what needed to be installed that was different from my local machine.</p>
      </div>
      <div class="card-action">
        <a href="https://github.com/timkellogg/check_version">Check it out!</a>
      </div>
    </div>
  </div>
    <div class="col s12 m6">
    <div class="card blue darken-1 hoverable">
      <div class="card-content white-text">
        <span class="card-title">GameSuite</span>
        <p>This is a collection of game scripts that can be used for the terminal. The pack includes blackjack, craps, and a guessing game.</p>
      </div>
      <div class="card-action">
        <a href="https://gist.github.com/timkellogg/e41a88ede0c90231f506">Check it out!</a>
      </div>
    </div>
  </div>
</div>



<!-- EDUCATION -->
<div class="row left-align">
	<div class="header-background">
		<blockquote>
			<h1 id="education" class="">Education</h1>
		</blockquote>
	</div>
</div>

<!-- SKILLS -->
<div class="row left-align">
	<div class="header-background">
		<blockquote>
			<h1 id="skills" class="">Skills</h1>
		</blockquote>
	</div>
</div>




